<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="jmusicapp">

<head>
<title>BFH JMusic REST</title>
<!-- 
<script type="text/javascript"  src="jquery-ui-1.10.3/jquery-1.10.2.js"></script>
<script type="text/javascript"  src="jquery-ui-1.10.3/ui/jquery-ui.js"></script>

<script type="text/javascript"  src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>

<script src="bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript" src="js/application.js"></script>
<script type="text/javascript" src="js/controllers.js"></script>
<script type="text/javascript" src="js/services.js"></script>


<link rel="stylesheet" type="text/css"  href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css">
<!-- Bootstrap - - >
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" media="screen">
// -->


<script type="text/javascript"  src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript"  src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script type="text/javascript"  src="http://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
<script type="text/javascript"  src="http://code.angularjs.org/1.0.1/angular-resource-1.0.1.min.js"></script>

<script type="text/javascript" src="js/application.js"></script>
<script type="text/javascript" src="js/controllers.js"></script>
<script type="text/javascript" src="js/services.js"></script>
<script src="bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript"  src="bootstrap/js/bootstrap-datepicker.js"></script>

<script type="text/javascript" src="js/date.js"></script>


<link rel="stylesheet" type="text/css"  href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css">
<!-- Bootstrap -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"   media="screen">
<link href="bootstrap/css/datepicker.css" rel="stylesheet"  media="screen">



</head>

<body style="padding-top: 70px;">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">jMusic App</a>
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="artists.html">Artists</a></li>
                        <li><a href="genres.html">Genres</a></li>
                        <li><a href="albums.html">Albums</a></li>
                        <li><a href="titles.html">Titles</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container" ng-controller="TitleController">
        <h2>Current Title</h2>
        <div id="formdiv" style="width:300px">
            <form id="form" name="form" action="">
                <label for="name">Name</label>
                <input id="name" ng-model="currentTitle.name" required="true" /> <br /> 
                <label for="id">Id</label> 
                <input id="id" disabled="disabled" ng-model="currentTitle.id" /><br /> 

                <button ng-click="save()" id="save" class="btn btn-primary">Save Title</button>
                <button ng-click="cancel()" id="cancel" class="btn">Cancel</button>
            </form>
        </div>
        <h2>Titles</h2>

        <form id="list" action="">
            <label for="showId">Show Id</label>
            <input id="showId" type="checkbox" />
            <table id="table" border="1" class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Id</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead> 
                <tbody>
                    <tr ng-repeat="title in titles">
                        <td>{{title.name}}</td>
                        <td>{{title.id}}</td>
                        <td><button ng-click="edit(title)" id="edit" class="btn btn-inverse">Edit</button></td>
                        <td><button ng-click="remove($index, title.id)" id="delete" class="btn btn-danger">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </form>

    </div>

</body>
</html>